{% extends './base.html' %}
{% load static %}
{% block content %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cursos' 0 request.session.curso %}">Cursos</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{i.nombre}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Pager Area Start ##### -->
    <div class="vizew-pager-area">
        {% if pc %}
        <div class="vizew-pager-prev">
            <p>CURSO ANTERIOR</p>

            <!-- Single Feature Post -->
            <div class="single-feature-post video-post bg-img pager-article" style="background-image: url('{{pc.imagen.url}}')">
                <!-- Post Content -->
                <div class="post-content">
                    <a href="{% url 'videoIntro' pc.pk %}" class="post-cata cata-sm cata-success">{{pc.nombre}}</a>
                    <a href="{% url 'videoIntro' pc.pk %}" class="post-title">{{pc.titulo}}</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 18</a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 32</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 24</a>
                    </div>
                </div>
                <!-- Video Duration -->
                <span class="video-duration">{{pc.duracion}}</span>
            </div>
        </div>
        {% endif %}
        {% if nc %}
            <div class="vizew-pager-next">
                <p>CURSO SIGUIENTE</p>

                <!-- Single Feature Post -->
                <div class="single-feature-post video-post bg-img pager-article" style="background-image: url('{{nc.imagen.url}}');">
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="{% url 'videoIntro' nc.pk %}" class="post-cata cata-sm cata-business">{{nc.nombre}}</a>
                        <a href="{% url 'videoIntro' nc.pk %}" class="post-title">{{nc.titulo}}</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{nc.comentarios}}</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{nc.visto}}</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{nc.like}}</a>
                        </div>
                    </div>
                    <!-- Video Duration -->
                    <span class="video-duration">{{nc.duracion}}</span>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- ##### Pager Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-details-area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-video-area">
                        <iframe src="{{i.videoIntro}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8">
                    <div class="post-details-content d-flex">
                        <!-- Post Share Info -->
                        <div class="post-share-info">
                            <p>Share</p>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">

                            <!-- Post Content -->
                            <div class="post-content mt-0">
                                <a href="#" class="post-cata cata-sm cata-danger">{{i.nombre}}</a>
                                <a href="single-post.html" class="post-title mb-2">{{i.titulo}}</a>

                                <div class="d-flex justify-content-between mb-30">
                                    <div class="post-meta d-flex align-items-center">
                                        <a href="#" class="post-author">By Jane</a>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <a href="#" class="post-date">Sep 08, 2018</a>
                                    </div>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.comentarios}}</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.visto}}</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{i.like}}</a>
                                    </div>
                                </div>
                            </div>

                            <p>{{i.descripcion}}</p>

                            <blockquote class="vizew-blockquote mb-15">
                                <h5 class="blockquote-text">{{i.consejo}}</h5>
                                <h6>{{i.autor}}</h6>
                            </blockquote><!-- 

                            <p>Dals or lentils are packed with proteins and especially in a vegetarian diet, lentils are the main source of protein. It is amazing how this humble yellow moong dal can be made into so many recipes from a plain dal khichdi to mangodi ki sabzi to the traditional Indian desserts like moong dal halwa. Fresh dill should be added only at the end of cooking, much like fresh coriander leaves.</p>

                            <h4>Immediate Dividends</h4>

                            <ul class="unordered-list mb-0">
                                <li>Wash the dal in 3-4 changes of water and soak in room temperature water for 10 mins while you finish the rest of preparation.</li>
                                <li>Drain and pressure cook with salt, turmeric and water for 2 whistles.</li>
                                <li>Remove the cooker from heat and open only after all the steam has escaped on its own.</li>
                                <li>While the dal is cooking, heat ghee in a pan. Add hing and cumin seeds.</li>
                                <li>When the seeds start to crackle, add ginger, and green chillies. Sauté for a minute.</li>
                                <li>Add tomatoes and a little salt. Mix well. Cook for about 5 mins with occasional stirring.</li>
                            </ul> -->

                            

                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix mb-50">

                                <!-- Section Title -->
                                <div class="section-heading style-2">
                                    <h4>Comentarios</h4>
                                    <div class="line"></div>
                                </div>

                                <ul>
                                    {% if comentario %}
                                       {% for i in comentario %}
                                            <li class="single_comment_area">
                                                <div class="comment-content d-flex">
                                                    <div class="comment-author">
                                                        {% if i.usuario.imgPerfil.url %}
                                                            <img src="{{i.usuario.imgPerfil.url}}" alt="author">
                                                        {% else %}
                                                            <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="author">
                                                        {% endif %}
                                                        
                                                    </div>
                                                    <div class="comment-meta">
                                                        <a href="#" class="comment-date">{{i.fecha}}</a>
                                                        <h6>{{i.usuario.nombre}}</h6>
                                                        <p>{{i.comentario}}</p>
                                                        <div class="d-flex align-items-center">
                                                            <a href="#" class="like">like</a>
                                                            <a href="#" class="reply">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    {% else %}
                                        <li>
                                            <h2 class="text-center">No hay comentarios</h2>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                             <nav class="mt-50">
                                  {% if productos.has_other_pages %}
                                    <ul class="pagination justify-content-center">
                                      {% if productos.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ productos.previous_page_number }}" tabindex="-1" style="font-size: 20px;"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                        {% for i in lista %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}" tabindex="-1" style="font-size: 20px;">{{i}}</a>
                                            </li>
                                        {% endfor %}
                                      {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" tabindex="-1" style="font-size: 20px;"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                        {% for i in lista %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}" tabindex="-1" style="font-size: 20px;">{{i}}</a>
                                            </li>
                                        {% endfor %} 
                                      {% endif%}
                                    
                                      {% if productos.has_next %}
                                                                    <li class="page-item">
                                          <a class="page-link" href="?page={{ productos.next_page_number }}" style="font-size: 20px;"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                      {% else %}
                                          
                                        <li class="page-item disabled">
                                          <a class="page-link" href="#" style="font-size: 20px;"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                      {% endif %}
                                    </ul>
                                  {% endif %}
                            </nav>

                            <!-- Post A Comment Area -->
                            <div class="post-a-comment-area">

                                <!-- Section Title -->
                                <div class="section-heading style-2">
                                    <h4>Deja un comentario</h4>
                                    <div class="line"></div>
                                </div>

                                <!-- Reply Form -->
                                <div class="contact-form-area">
                                    <form method="post">{% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Tú nombre*">
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <input type="email" name="email" class="form-control" id="email" placeholder="Tú correo electrónico*">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="mensaje" class="form-control" id="message" placeholder="Mensaje*"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn vizew-btn mt-30" type="submit">Enviar comentario</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="sidebar-area">

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget followers-widget mb-50">
                            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="counter">198</span><span>Fan</span></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span class="counter">220</span><span>Followers</span></a>
                            <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span class="counter">140</span><span>Subscribe</span></a>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget latest-video-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Latest Video</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-post-area mb-30">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/13.jpg' %}" alt="">

                                    <!-- Video Duration -->
                                    <span class="video-duration">05.03</span>
                                </div>

                                <!-- Post Content -->
                                <div class="post-content">
                                    <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                                    <a href="single-post.html" class="post-title">Full article Prince Charles's 'urgent' global research</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 38</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/1.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="single-post.html" class="post-title">DC Shoes: gymkhana five; the making of</a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 29</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 08</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 23</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/2.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="single-post.html" class="post-title">Sweet Yummy Chocolatea Tea</a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 17</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 33</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 26</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/35.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="single-post.html" class="post-title">How To Make Orange Chicken Recipe?</a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 11</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 21</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget add-widget mb-50">
                            <a href="#"><img src="{% static 'curso/img/bg-img/add.png' %}" alt=""></a>
                        </div>

                        <!-- ***** Sidebar Widget ***** -->
                        <div class="single-widget youtube-channel-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Hot Channels</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/25.jpg' %}" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="single-post.html" class="channel-title">Music Channel</a>
                                    <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/26.jpg' %}" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="single-post.html" class="channel-title">Trending Channel</a>
                                    <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/27.jpg' %}" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="single-post.html" class="channel-title">Travel Channel</a>
                                    <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/28.jpg' %}" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="single-post.html" class="channel-title">Sport Channel</a>
                                    <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">
                                    <img src="{% static 'curso/img/bg-img/29.jpg' %}" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="single-post.html" class="channel-title">TV Show Channel</a>
                                    <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                                </div>
                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget newsletter-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Boletin informativo</h4>
                                <div class="line"></div>
                            </div>
                            <p>Suscríbete a nuestra newsletter para recibir notificaciones sobre nuevas actualizaciones, descuentos de información, etc.</p>
                            <!-- Newsletter Form -->
                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="Ingresa tu correo electrónico">
                                    <button type="submit" class="btn vizew-btn w-100">Subscribe!</button>
                                </form>
                            </div>
                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->

{% endblock %}